# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

storybook-static

function setInputValue(value) {
    const input = document.getElementById('myInput');
    input.value = value;
    const event = new Event('input', { bubbles: true });
    input.dispatchEvent(event);
}

setInputValue('New Value');